@model ResponseClass
@Html.Raw(TempData["message"])

<script>
    // Set the JWT token in local storage
    var jwtToken = '@Model.Token';
    localStorage.setItem('token', jwtToken);

    setSwaggerToken(jwtToken)

    // Function to set the token in Swagger UI
    function setSwaggerToken(token) {
        // Access Swagger UI OAuth dialog
        const oauthDialog = document.querySelector('.scheme-container');
        if (oauthDialog) {
            // Set the token in the OAuth dialog
            oauthDialog.querySelector('#input_apiKey').value = `Bearer ${token}`;
            oauthDialog.querySelector('.authorize').click();
        }
    }
</script>
<div id="wrap">
    <section class="bodymain" style="min-height:540px;">
        <aside class="middle-container">
            <div class="clear" style="height:5px;"></div>
            <h1 style="margin:50px 0 0 270px; font-size:35px; color:#036d9a;">Welcome To Admin Panel</h1>

        </aside>
        <div class="clear"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </section>
</div>
<div class="clear"></div>

